In [ ]:
import pandas as pd
import numpy as np
info = np.array(['P','A','N','D','A','S'])
a= pd.Series(info)
print(a
      )

0    P
1    A
2    N
3    D
4    A
5    S
dtype: object

In [ ]:
import pandas as pd
# a list of strings
x=['python','Pandas']
#Calling DataFrame constructor on list
df= pd.DataFrame(x)
print(df)

        0
0  python
1  Pandas

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
emp =['Aman','Gagan','Rahul','Parul','william']
id= [543,102,321,109,104]
emp_series =pd.Series(emp)
id_series = pd.Series(id)
frame = {'Emp': emp_series,'ID': id_series}
result =pd.DataFrame(frame)
print(result)

       Emp   ID
0     Aman  543
1    Gagan  102
2    Rahul  321
3    Parul  109
4  william  104

In [9]:
# importing the pandas library
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [12]:
#importing thr pandas library
import pandas as pd
# a list of strings
x =['Python','Pandas']
# Calling DataFrame constructor on list
df = pd.DataFrame(x)
print(df)

        0
0  Python
1  Pandas

In [15]:
import pandas as pd
import numpy as np
a =pd.Series(['Java','c','C++','np.nan'])
a.map({'Java':'Core'})

0    Core
1     NaN
2     NaN
3     NaN
dtype: object